p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 500%;
    text-align: center;
}

h2 {
    font-size: 40px;
}
#barraDeNavegacao{
    list-style: none;
}
header {
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #797979;
}

#barraDeNavegacao{
    display:flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    padding: 15px 15px;
    align-items: center;
}

#barraDeNavegacao a{
    text-decoration: none;
    color:black
}

nav li a:hover {
    background-color: #797979;
}